.blog {
  width: 100%;

  &__titulo {
    margin: 0 1rem;
    font-size: 36px;
    font-family: 'Lobster', cursive;

    @media (min-width:1023px) {
      font-size: 48px;
    }
  }

  &__card {
    &__titulo {
      font-size: 22px;
      margin: 0;
      font-family: 'Lobster', cursive;
      line-height: 1.5;
      padding-bottom: .5rem;

      @media (min-width: width 1023px) {
        font-size: 36px;
      }

      &--size {
        font-size: 18px;
        margin: 0;
        font-family: 'Lobster', cursive;
        line-height: 1.5;
        padding-bottom: .5rem;
      }
    }

    &__tag {
      text-decoration: underline;
      font-size: 12px;
      text-transform: uppercase;
      margin: 0;
      margin-right: 1.5rem;

      @media (min-width: width 1023px) {
        font-size: 14px;
      }
    }

    &__autor {
      text-decoration: underline;
      font-size: 12px;
      margin: 0;

      @media (min-width: width 1023px) {
        font-size: 14px;
      }
    }
  }

  &__button {
    @include botao-um;

    @media(min-width:1023px) {
      width: 30%;
    }
  }
}

.my-card {
  &--size {
    width: 48%;
  }
}
