.blog {
  width: 100%;

  &__titulo {
    margin: 1rem;
    font-size: 36px;
    @include fonte-cursiva;

    @media (min-width:1023px) {
      font-size: 48px;
    }
  }

  &__card {
    &__titulo {
      font-size: 22px;
      margin: 0;
      line-height: 1.5;
      padding-bottom: .5rem;
      @include fonte-cursiva;

      @media (min-width: width 1023px) {
        font-size: 36px;
      }

      &--size {
        font-size: 18px;
        margin: 0;
        font-family: 'Lobster', cursive;
        line-height: 1.5;
        padding-bottom: .5rem;
      }
    }

    &__tag {
      text-decoration: underline;
      font-size: 12px;
      text-transform: uppercase;
      margin: 0;
      margin-right: 1.5rem;

      @media (min-width: width 1023px) {
        font-size: 14px;
      }
    }

    &__autor {
      text-decoration: underline;
      font-size: 12px;
      margin: 0;

      @media (min-width: width 1023px) {
        font-size: 14px;
      }
    }
  }

  &__button {
    @include botao-um;

    @media(min-width:1440px) {
      width: 30%;
    }
  }

  &__newsletter {
    &--mob {
      @media (min-width: 1440px) {
        display: none;
      }
    }

    &--desk {
      display: none;

      @media (min-width: 1440px) {
        display: block;
        width: 30%;

      }
    }
  }

  &__section {
    &__cards {
      display: flex;
      justify-content: space-between;

      @media (min-width: 1440px) {}
    }
  }
}

.my-card {
  &--sm {
    width: 48%;

    @media (min-width: 1440px) {
      width: 30%;
    }
  }

  &--lg {
    @media (min-width: 1023px) {
      width: 49%;
    }
  }
}
