h2 {
  font-size: 18px;
  font-weight: 700;
}

@mixin botao-um {
  background-color: $secondary;
  cursor: pointer;
  border: none;
  color: white;
  height: 46px;
  width: 100%;
  margin: 1rem 0;

  &:hover {
    opacity: .8;
  }
}

@mixin botao-dois ($bg_color, $color) {
  background-color: $bg_color;
  color: $color;
  border: solid $color 1px;
  height: 46px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.05);
  }
}

@mixin input-padrao {
  height: 46px;
  padding: 1rem .3rem;
}

@mixin fonte-cursiva {
  font-family: 'Lobster', cursive;
}
