.newsletter {
  border: solid 3px $third;
  text-align: center;
  max-width: 320px;

  h3 {
    margin: 0;
    font-size: 30px;
  }

  input {
    @include input-padrao;
  }

  button {
    @include botao-dois(white, black);
  }

  &__texto {
    font-size: 18px;

    &--size {
      margin: 10px 0;
      font-size: 13px;
    }
  }
}
