@import "mixins";
@import "navbar";
@import "footer";
@import "newsletter";

.q-layout__section--marginal {
  background-color: white;
}

.body {
  height: 100vh;
  margin-top: 24px;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

li {
  list-style: none;
}

ul {
  padding: 0;
}
